* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E3EDF4;
}

.custom-navbar-background-1 {
    background-color:#6CA1C7
}

/* Date&Time on Navbar */
#Time { 
    /* position: relative; */
    right: 40%;
    font-size: 1rem;
    margin-bottom: 0;
    text-align: center;
}

/* Expands the bootstrap styling of the My Cities list,
namely, in changing the size of the li items to allow for
better display of the background images. */

#my-cities-list {
    margin-top: 4.3rem;
}

#my-cities-list > li {
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    background-position: 100%;
    margin-bottom: .5rem;
    opacity: 75%;
}

#my-cities-list > li:hover {
    opacity: 100%;
}

p > a {
    text-underline-offset: 0.15rem;
}

p > a,
p > a:hover{
    color: white;
}