.custom-navbar-background-1 {
    background-color:#6CA1C7
}

.top-navbar{
    justify-content: end;
}

.custom-hero {
    background-image: url("../images/Globe\ Hero\ IMage.PNG");
    background-size: cover;
}